table{
  .input-group{
    
    .form-control{
      background: transparent;
      color: white;
      border: none;
      text-align: center;  
      
    }

    ::placeholder{
      color: lightgray;
    }

  }

}

h2{

  .input-group{
    .form-control{
      background: transparent;
      color: white;
      border: solid white 1px;
      
      
    }

    ::placeholder{
      color: lightgray;
    }

    
  }




}

