.container-fluid{
  #card-masc{
    background: url(../img/fundo_homem_editada.png);
    background-position: center;
    background-size: cover;
    background-size: 500px;

  }

  #card-fem{
    background: url(../img/fundo_fem_editada.png);
    background-position: center;
    background-size: cover;
    background-size: 500px;

  }


}